{% extends "blog/home.html" %}
{% load staticfiles %}
{% load blog_tags %}
	{%block page-top%}
	{% include "blog/_banner.html" %}
	{%endblock page-top%}
	{%block header%}
	{%endblock header%}
	{%block body %}
			<!-- /.container-fluid -->
			<section id="about" class="light-bg">
			<div class="container" style="margin-top: 100px;">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Our projects</h2>
							<p>Nantes is a clean, responsive bootstrap template suitable for agencies, design studios, mobile apps or business sites. It uses the best clean SEO practices, and on top of that, it’s fast, simple, and easy to modify. <br><strong>Nantes Is More Than A Theme, It’s A Powerful Design Tool</strong></p>
						</div>
					</div>
				</div>
			</section>
		<p id="back-top">
			<a href="index.html">
				<i class="fa fa-angle-up"></i>
			</a>
		</p>
		{%endblock body%}