{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {%block title%}
    <title>Our Projects</title>
    {%endblock title%}
    <!-- Bootstrap core CSS -->

    <link href="{% static 'css/bootstraps.min.css'%}" rel="stylesheet">
    <!-- add new css 4.15-->
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <!-- end add -->

    <!-- 注意这里引用另外一个bootstrap -->
    <!-- Custom fonts for this template -->
    <link href="{% static 'css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.css'%}" rel="stylesheet">
    <!--   <link href="{% static 'css/style.css'%}" rel="stylesheet"> -->
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="index.html">兴趣开放创新平台</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="post.html">Sample Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../static/images/demo/mainpage.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        {%block header%}
                        <h1>Our Projects</h1>
                        <span class="subheading">项目简介</span>
                        {%endblock header%}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    {% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 mx-auto mt-5">
                <div class="media">
                    <img class="mr-3 align-self-center" src="{%static 'images/demo/mainpage.jpg'%}" alt="Generic placeholder image" style="height: 259px;width: 388px;">
                </div>
            </div>
            <div class="col-lg-7 col-md-10 mx-auto">
                <div class="post-preview">
                    <a href="/articles">
                        <h5 class="post-title">
                            Man must explore, and this is exploration at its greatest
                        </h5>
                        <h3 class="post-subtitle">
                            Problems look mighty small from 150 miles up
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">Start Bootstrap</a>
                        on September 24, 2019</p>
                </div>
            </div>
            <hr>
            <!-- 数据库调用 -->
            {%block content%}
            {%for post in project_list %}
            {%if post.img.url in post.img.url%}
            <div class="col-lg-4 col-md-5 mx-auto mt-5">
                <a href="{{ post.get_absolute_url }}">
                    <div class="media">
                        <img class="mr-3 align-self-center" src="{{post.img.url}}" alt="{{post.number}}" style="height: 259px;width: 388px;">
                    </div>
                </a>
            </div>
            {%endif%}
            <div class="col-lg-7 col-md-10 mx-auto">
                <div class="post-preview">
                    <a href="{{ post.get_absolute_url }}">
                        <h5 class="post-title">
                            {{ post.name }}
                        </h5>
                        <h3 class="post-subtitle">
                            {{ post.excerpt }}
                        </h3>
                    </a>
                    <!--            <p class="post-meta">Posted by
              <a href="#">{{post.author}}</a>
              {{post.time}}</p> -->
                </div>
            </div>
            <hr>
            {%endfor%}
            {%endblock content%}
            <!-- Pager -->
        </div>
        <div class="clearfix">
            <a class="btn btn-primary float-right mt-5" href="#">Older Posts &rarr;</a>
        </div>
    </div>
    </div>
    {% endblock main %}
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <!-- 这是三个icon -->
                    <!--           <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul> -->
                    <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <!-- Custom scripts for this template -->
    <script src="{% static 'js/clean-blog.min.js'%}"></script>
</body>

</html>